# each state is 1 of 3 colors
WAR WAG WAB
NTR NTG NTB
QR QG QB
SAR SAG SAB
NSWR NSWG NSWB
VR VG VB
TR TG TB
# at most 1 color
-WAR -WAG
-WAR -WAB
-WAG -WAR
-WAG -WAB
-WAB -WAR
-WAB -WAG
-NTR -NTG
-NTR -NTB
-NTG -NTR
-NTG -NTB
-NTB -NTR
-NTB -NTG
-QR -QG
-QR -QB
-QG -QR
-QG -QB
-QB -QR
-QB -QG
-SAR -SAG
-SAR -SAB
-SAG -SAR
-SAG -SAB
-SAB -SAR
-SAB -SAG
-NSWR -NSWG
-NSWR -NSWB
-NSWG -NSWR
-NSWG -NSWB
-NSWB -NSWR
-NSWB -NSWG
-VR -VG
-VR -VB
-VG -VR
-VG -VB
-VB -VR
-VB -VG
-TR -TG
-TR -TB
-TG -TR
-TG -TB
-TB -TR
-TB -TG
# adjacent states must be diff color
-WAR -NTR
-WAR -SAR
-WAG -NTG
-WAG -SAG
-WAB -NTB
-WAB -SAB
-NTR -WAR
-NTR -SAR
-NTR -QR
-NTG -WAG
-NTG -SAG
-NTG -QG
-NTB -WAB
-NTB -SAB
-NTB -QB
-QR -NTR
-QR -SAR
-QR -NSWR
-QG -NTG
-QG -SAG
-QG -NSWG
-QB -NTB
-QB -SAB
-QB -NSWB
-SAR -WAR
-SAR -NTR
-SAR -QR
-SAR -NSWR
-SAR -VR
-SAG -WAG
-SAG -NTG
-SAG -QG
-SAG -NSWG
-SAG -VG
-SAB -WAB
-SAB -NTB
-SAB -QB
-SAB -NSWB
-SAB -VB
-NSWR -QR
-NSWR -SAR
-NSWR -VR
-NSWG -QG
-NSWG -SAG
-NSWG -VG
-NSWB -QB
-NSWB -SAB
-NSWB -VB
-VR -SAR
-VR -NSWR
-VG -SAG
-VG -NSWG
-VB -SAB
-VB -NSWB